{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books" method="POST">
        <fieldset>
            <legend>Edit {{ book.title }}</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ book.title }}"
                value="{{ book.title }}"
                class="form-control"
            >
              <label class="form-label">Subtitle: </label> {%- comment -%} sneaky spaces here {%- endcomment -%}
            <input 
                type="text" 
                name="subtitle" 
                placeholder="{{ book.subtitle }}"
                value="{{ book.subtitle }}"
                class="form-control"
            >
            <label class="form-label">Author(s):</label>
            <input 
                type="text" 
                name="authors" 
                placeholder="{{ book.authors }}" 
                value="{{ book.authors }}" 
                class="form-control"
            >
            <label class="form-label">Pages:</label>
            <input 
                type="number" 
                name="pageCount"
                value="{{ book.pageCount }}"
                class="form-control"
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                value="{{book.description }}"
                class="form-control"
            >
             {%- comment -%} <label class="form-label">IBSN:</label>
            <input 
                type="text" 
                name="ibsn" 
                class="form-control"
            > {%- endcomment -%}
        </fieldset>
        <input type="submit" value="Edit Book" class="btn btn-success">
    </form>
</div>
{% endblock %}